table td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  label{font-size: 20px}

  td {
    padding: 5px;
  }

  textarea {
    resize: none;
    display: inline-block;
    vertical-align: middle;
}

input[type=number]{
  width: fit-content;
  display: block;
}

.divFlex {
  flex-wrap: wrap-reverse;
}

ion-col > * {
  padding: 1%;
}

ion-button {
  --background: #ffce00;
    --background-focused: #d4aa00;
    --background-hover: #f8de76;
    --color: #222428;
    display: inline-block;
    vertical-align: middle;
}